/* Responsive oleh Shella */

/* Tampilan Pada Tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
      }
}

/* Tampilan Pada Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .logo {
    display: block;
  }

  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  footer {
    text-align: center;
  }
}

