body {
    margin: 0;
    font-family: "Lucida Grande";
}

.top-wrapper {
    padding: 170px 0 170px 0;
    background-image: url(https://images.unsplash.com/photo-1509358271058-acd22cc93898?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.9;
    font-size: 47px;
    letter-spacing: 2px;
    margin-bottom: 35px;
    color: white;
}

.top-wrapper p {
    color: antiquewhite;
    letter-spacing: 1px;
    font-size: 15px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgb(12, 10, 37)
}

.logo {
    width: 40px;
    margin: 10px 20px;
}

.header-left {
    float: left;
    color: white;
    margin-left: 0%;
}

.header-left a {
    font-size: 25px;
    margin: 20px 5px 20px 5px;
    float: right;
}

.header-right a {
    font-size: 15px;
    margin: 25px;
    float: right;
    color: white;
}

lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.box-barang {
    float: left;
    width: 30%;
}

.box-thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover
}

.box-barang {
    width: 400px;
    height: 450px;
    background: #f7f7f7;
    display: inline-block;
    margin-right: 17px;
    border-radius: 8px;
    border: 1px solid #737373;
    margin-bottom: 17px;
    position: relative;
}

.box-thumbnail {
    width: 400px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box-judul {
    color: #000;
}

.box-deskripsi {
    color: #000;
}

.box-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    background: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
}

.box-body {
    padding: 5px 10px;
}
